{% extends 'base.html' %}

{% block container %}

{% load static %}


<head>
    <title>로그인</title>
    <link rel = "stylesheet" type = "text/css" href = "{% static 'login.css' %}" />
</head>



<body>
    <div class="box">
        <div class="container">
            <div class="loginlogo">
                <b>로그인</b>
            </div>

            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <input class="id" name="username" placeholder="아이디" required>
                <input type="password" name="password" class="password" placeholder="비밀번호" required>
                <h6 id="error_message">{{error}}</h6><br>
                <button type="submit" class="loginBtn">
                    <b>로그인</b>
                </button>
            </form>

            <div class="line-box">
                <div class="line"></div>
                &nbsp;또는&nbsp;
                <div class="line"></div>
            </div>

            <button type="button" class="signupBtn" onClick="location.href='signup.html'">
                <b>회원가입</b>
            </button>
        </div>
    </div>
</body>  

{% endblock %}


