{% extends 'base.html' %}

{% block container %}

{% load static %}


<head>
    <title>회원가입</title>
    <link rel = "stylesheet" type = "text/css" href = "{% static 'signup.css' %}" />
</head>


<style>
    p.hi {
        font-family: 'Hi Melody', cursive;
        font-size: 23px;
    }

    p.kopub{
        font-family: 'KoPub Dotum'; 
        font-size: 2em; 
    }

    p.nbg {
        font-family: 'Nanum Barun Gothic', sans-serif;
        font-size: 23px;
    }

    p.ng {
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 23px;
    }

</style>

<body>
    <div>
        <p class="kopub">ko pub 돋움체 입니다. 로그인 <br> 회원가입</p>
    </div>
</body>

{% endblock %}