{% extends 'base.html' %}
{% block container %}
{% load static %}
<head>
    <title>Party Party</title>
    <link rel = "Stylesheet" href = "{% static 'main.css' %}">

</head>
<main>
    <section>~배너~</section>
    <section>
        <div class = "section_title">마감임박! 오늘 마감 입금폼</div>
        <div></div>
        <div class = "section_title">마감임박! 오늘 마감 수요조사폼</div>
        <div></div>
        <div class = "section_title">현재 진행 중인 수요조사폼</div>
        <div></div>
        <div class = "section_title">현재 진행 중인 입금폼</div>
        <div>
            {% for post in posts %}
            <article>
                <img src = "{{post.product_image.url}}" class = "product_image">
                <a href = "{% url 'goodslist' %}">{{post.product}}</a>
                
                {{post.price}}
                {{post.writer}}
            </article>
            {% endfor %}


        </div>
    </section>
    <!-- mypage가 잘 접속되는지 확인하려고 넣어놨어요 나중에 직접지울게욥.. 아니면 pull 받아서 지우셔도 돼요! -->
    <a href="{% url 'mypage' %}" class="btn btn-primary buttoncol">
        <span style='color:black'>
            Press mypage</span></a>
    <a href="{% url 'write_choices' %}" class="btn btn-primary buttoncol">
        <span style='color:black'>
            Press button</span></a>.  
    
</main>


{% endblock %}
